
<div class= " banner">
  <div class="content-1 ">
    <div class='t-b'>
      <h1>EVOLVE</h1>
      <h2>COMPANY</h2>
    </div>
    <p><strong>Você está procurando por ajuda para vender mais através da internet?<Br>
    A Evolve Company é uma assessoria de marketing digital especializada em trazer resultados positivos para as suas vendas através da internet.
    Venha conhecer a nossa assessoria e descubra o quanto você pode crescer junto com a gente!
    <Br>
    Clique no botão abaixo e conheça nossos serviços!</strong></p>
    <div class="button-1">
      <a href="https://api.whatsapp.com/send?phone=5521959100521" target="_blank">Solicite já seu orçamento!</a>
    </div>
  </div>
</div>
<div class= "container-1">
    <img class= "img-1" src="https://images.unsplash.com/photo-1607798748738-b15c40d33d57?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Sans Serif fonts" >
    <div class="content-2">
      <div class="t-2">
        <img src="https://see.fontimg.com/api/renderfont4/BW0ox/eyJyIjoiZnMiLCJoIjozMSwidyI6MTAwMCwiZnMiOjMxLCJmZ2MiOiIjRkZGRkZGIiwiYmdjIjoiIzAxMDEyMCIsInQiOjF9/c2l0ZXMgZGUgYWx0YSBjb252ZXJzw6NvLi4u/aquire.png" alt="Logo fonts">
        <p>Com desevolvedores formados nos melhores cursos do Brasil, para levar seu negócio para outro nível, desenvolvendo landing-pages de alta conversão, marketing-place, blog, sites com desings únicos para sua empresa perfeitos para a captção de clientes e agregar valor a sua marca.</p>
      </div>
      <div class="button-2" >
        <a href="https://api.whatsapp.com/send?phone=5521997844831" target="_blank">Converse com nossa equipe</a>
      </div>
    </div>
</div>
<div class="sites">
  <ul>
  <div class="t-site">
    <img src="https://see.fontimg.com/api/renderfont4/BW0ox/eyJyIjoiZnMiLCJoIjozMSwidyI6MTAwMCwiZnMiOjMxLCJmZ2MiOiIjRkZGRkZGIiwiYmdjIjoiIzAxMDEyMCIsInQiOjF9/bsOjbyBwZXJjYSB0ZW1wby4uLg/aquire.png" alt="Logo fonts">
    <div class="pontos">
      <div class="ponto"></div>
      <div class="ponto"></div>
      <div class="ponto"></div>
    </div>
  </div>
    <li> Aumento de clientes para seu negócio.</li>
    <li> Praticidade para sua empresa e seus clientes.</li>
    <li> Mostre seu empreendimento para <strong>+159 milhões de pessoas</strong> em todo Brasil.</li>
    <li> Vendas automatizadas.</li>
    <li> Venda seu produto ou serviço com o menor custo possível.</li>
  </ul>
</div>
<div class= "container-2">
  <%# <img src="https://www.ayokay.com/wp-content/uploads/2021/04/Marketing-Mindset.jpg" alt="" width="50%" height="430"> %>
  <div class="content-3">
    <div class="t-3">
      <img src="https://see.fontimg.com/api/renderfont4/BW0ox/eyJyIjoiZnMiLCJoIjozNCwidyI6MTAwMCwiZnMiOjM0LCJmZ2MiOiIjRkZGRkZGIiwiYmdjIjoiIzAxMDEyMCIsInQiOjF9/QXVtZW50ZSBzdWFzIHZlbmRhcy4uLg/aquire.png" alt="Logo fonts">
      <p>O Gestor de Tráfego é o profissional responsável por organizar, analisar e liberar demandas, gerenciar e criar anúncios, estratégias de marketing e ações dentro de uma assessoria de marketing digital, para gerar vendas e resultados a um cliente, por intermédio de ferramentas específicas.
      Afinal, qualquer marca que inicie sua presença digital na internet, seja um site, landing page, e-commerce ou mídias sociais, precisará de clientes. E a mídia paga é uma etapa fundamental no marketing digital, responsável por atrair novos consumidores interessados em seus produtos ou serviços.</p>
    </div>
    <div class="button-3" >
      <a href="https://api.whatsapp.com/send?phone=5521959100521" target="_blank">Converse com nossa equipe</a>
    </div>
  </div>
</div>
<div class="marke">
  <ul>
  <div class="t-marke">
    <img src="https://see.fontimg.com/api/renderfont4/BW0ox/eyJyIjoiZnMiLCJoIjozMSwidyI6MTAwMCwiZnMiOjMxLCJmZ2MiOiIjRkZGRkZGIiwiYmdjIjoiIzAxMDEyMCIsInQiOjF9/c2Ugdm9jw6ogw6kgYWxndcOpbSBxdWUuLi4/aquire.png" alt="Logo fonts">
    <div class="pontos-">
      <div class="ponto-"></div>
      <div class="ponto-"></div>
      <div class="ponto-"></div>
    </div>
  </div>
    <li> Está insatisfeito com o número de vendas do seu negócio.</li>
    <li> Que sente seu negócio invisível, e não consegue captar novos clientes de forma automática.</li>
    <li> Que não aguenta mais depender de indicação para crescer seu negócio.</li>
    <li> Que já investe em Marketing, mais deseja melhorar seus resultados.</li>
    <li> Que não tem medo de crescer, e deseja se tornar referência no seu ramo ou na sua região</li>
  </ul>
    <%# <p><strong>O que te falta é um funil de captação ativa de clientes para aumentar o seu faturamento e fazer você se tornar referência no seu ramo.</strong></p> %>
</div>
<div class="text-card">

  <img media="(min-width: 1200px)" src="https://see.fontimg.com/api/renderfont4/BW0ox/eyJyIjoiZnMiLCJoIjozMSwidyI6MTAwMCwiZnMiOjMxLCJmZ2MiOiIjRkZGRkZGIiwiYmdjIjoiIzAxMDEyMCIsInQiOjF9/YXNzZXNzb3JpYSBwYXJh/aquire.png" alt="Logo fonts">
  <img media="(min-width: 1200px)" src="https://see.fontimg.com/api/renderfont4/8Ma60/eyJyIjoiZnMiLCJoIjozMSwidyI6MTAwMCwiZnMiOjMxLCJmZ2MiOiIjRkZGRkZGIiwiYmdjIjoiIzAxMDEyMCIsInQiOjF9/c3VhIGVtcHJlc2E/aquire-bold.png" alt="Logo fonts">
</div>
<div class="cards">
  <div class="card">
    <img src="https://cdn-icons-png.flaticon.com/512/1997/1997959.png" width="110px" height="110px"/>
    <div class="content-card">
      <h1>PARA E-COMMERCE</h1>
      <p>Marketing de performance com foco em divulgar os produtos da sua loja para quem está mais propenso a comprar.</p>
    </div>
  </div>
  <div class="card">
    <img src="https://cdn-icons.flaticon.com/png/512/5314/premium/5314092.png?token=exp=1658346783~hmac=0ac41eb7441db7aa9daca19d5ebf45b0" width="110px" height="110px"/>
    <div class="content-card">
      <h1>NEGÓCIOS LOCAIS</h1>
      <p>Torne seu negócio local em referência na sua cidade. Adquira mais clientes usando publicidade no Google e Facebook.</p>
    </div>
  </div>
  <div class="card">
    <img src="https://cdn-icons-png.flaticon.com/512/2727/2727299.png" width="110px" height="110px"/>
    <div class="content-card">
      <h1>INFOPRODUTOS</h1>
      <p>Captação e nutrição de leads. Venda mais gestão de performance e anúncios patrocinados.</p>
    </div>
  </div>
</div>
<div class="button-3" >
  <a href="https://api.whatsapp.com/send?phone=5521959100521" target="_blank">Converse com nossa equipe</a>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <strong>evolvecompany © Todos os direitos reservados</strong>
  </div>
</div>
